*{
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#00063fa1, #07031b88), url(../1-css-web/images/1_FFYtzf28XKPFBdknfXf-jg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper{
    padding: 0 10px;
}
.wrap{
    background-color: #00031f80;
    padding: 30px 70px;
    height: auto;
    margin: auto;
    border-radius: 20px;
}
.wrap h1{
    font-size: 25px;
    margin-bottom: 15px;
}
.wrap h2{
    font-size: 16px;
    margin-bottom: 15px;
}
.wrap form{
    text-align: left;
}

.wrap input[type=text], select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.wrap h4{
    text-align: left;
    margin-top: 6px;
}
.wrap h4 a{
    text-decoration: none;
    font-size: 12px;
    color: inherit;
    cursor: pointer;
}
.foot{
    position: absolute;
    bottom: 0;
    transform: translate(50%);
    font-size: 12px;
}
